.main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edinner {
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 670px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.edinner .closeBtn {
  position: absolute;
  top: 16px;
  right: 16px;
  border: 1px solid rgba(166, 205, 234, 255);
  border-radius: 10%;
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: rgb(12, 133, 247);
  color: white;
}

.image {
  display: flex;
  justify-content: center;
  padding: 1em;
  border-radius: 50%;
}

.title {
  text-align: center;
}

.formInput,
.saveBtn {
  border: 1px solid;
  border-radius: 10px;
  padding: 0.5rem;
  margin: 0.5rem;
}

.saveBtn {
  background-color: rgb(12, 133, 247);
  border-color: rgba(166, 205, 234, 255);
}

.closeBtn:hover,
.saveBtn:hover {
  background-color: rgb(4, 96, 182);
}