.header {
  display: flex;
  background-color: rgb(66, 179, 255);
  margin: 0;
  min-width: 1000px;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  border-right: 1px solid;
  border-left: 1px solid;
  border-top: 1px solid;
  height: 5rem;
}

.titleHeader {
  text-align: center;
  color: white;
}

.col1header {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  align-items: center;
}

.col2header {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

@media (max-width: 500px) {
  .header {
    flex-direction: column;
  }

  .col1header {
    flex-direction: column;
  }

  .col2header {
    flex-direction: column;
  }
}
