/* Styling the footer container */
.footerContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(66, 179, 255);
  color: white;
  height: 5rem;
}
