/* .mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%;
  border-bottom: 2px solid rgb(93, 122, 145);
  min-width: 300px;
  margin: 2rem;
  padding: 1em;
} */

.actionBtn {
  margin: 1rem;
  border: 1px solid rgba(166, 205, 234, 255);
  border-radius: 10%;
  padding: 0.5rem;
  background-color: rgb(12, 133, 247);
}

.actionBtn:hover {
  background-color: rgb(4, 96, 182);
}

.imageContainer {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.image {
  border-radius: 100%;
  width: 8rem;
  height: 8rem;
}

.col1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.col2 {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.btncontainer {
  display: flex;
  flex-direction: row;
}