.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    /* width: 100%;
    max-width: 640px; */
    /* z-index: 100; */
}

.contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-row-start: 3;
    justify-content: center;
    /* grid-template-rows: 1; */
    width: 100%;
    /* max-width: 800px; */
    border: 1px solid black;
    margin: 1rem;
    padding: 1em;
}